In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/openingclosing.csv')
df

    Unnamed: 0    index  opening  closing
0            0  2016-01     2040     3480
1            1  2016-02     2108     3340
2            2  2016-03     3181     4415
3            3  2016-04     3207     4178
4            4  2016-05     3067     4481
..         ...      ...      ...      ...
61          61  2021-02     4473     3214
62          62  2021-03     6116     4396
63          63  2021-04     6838     5530
64          64  2021-05     5800     4948
65          65  2021-06     6254     4904

[66 rows x 4 columns]

In [8]:
df['opening'].tolist()

[2040,
 2108,
 3181,
 3207,
 3067,
 3076,
 2827,
 2879,
 2696,
 3069,
 3384,
 2953,
 2193,
 2669,
 3519,
 3331,
 3273,
 3507,
 3202,
 3390,
 3705,
 2695,
 3597,
 3155,
 2868,
 2584,
 3593,
 4235,
 3988,
 3801,
 3891,
 3701,
 3099,
 4385,
 4213,
 3602,
 3605,
 3242,
 4528,
 5076,
 4709,
 4316,
 4571,
 4307,
 4114,
 5090,
 5104,
 4441,
 4044,
 4121,
 4392,
 4393,
 4733,
 5551,
 5843,
 5239,
 5446,
 5209,
 5760,
 5300,
 4541,
 4473,
 6116,
 6838,
 5800,
 6254]

In [4]:
import os
os.getcwd()

'C:\\develops\\bigdata-project\\Statistics-COVID-19\\analysis'

In [5]:
os.path.isfile("openingclosing.csv")

False